/* 
  01. Geral e tipografia
  02. Backgrounds
  03. Blocos
  04. Separadores
  05. Navbar
  06. Header 
  07. Nossas Receitas 
  08. Dados 
  09. Lista de Receitas
  09.1 Receitas Doces
  10. Especiais
  11. Footer 
  12. Ajustes para Responsividade
*/

/* ==========================================================================
    01. Geral e tipografia
========================================================================== */
* {
    font-family: 'Kreon', serif;
    font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}


/* ==========================================================================
   02. Backgrounds
========================================================================== */

.bg-parallax {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.bg-1 {
    background-image: url(../img/parallax/1.jpg);
}

.bg-2 {
    background-image: url(../img/parallax/2.jpg);
}

.bg-3 {
    background-image: url(../img/parallax/3.jpg);
}

/* ==========================================================================
    03. Blocos
========================================================================== */

.section-title {
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.section-subtitle {
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 5rem;
}

.section-padding {
    padding-top: 130px;
    padding-bottom: 130px;
}

/* ==========================================================================
    04. Separadores
========================================================================== */

/* ==========================================================================
    05. Navbar
========================================================================== */
#navBar .container {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

#navBar .nav-item {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.25rem;
    margin-right: 1rem;
}

#navBar .nav-item .active {
    color: #ed0123;
}

/* ==========================================================================
    06. Header 
========================================================================== */


#header .container {
    padding: 230px 0 230px 0;
}

#header h1 {
    font-size: 7rem;
    color: white;
    background-color: #ed0123;
    padding: 0 15px;
    text-transform: uppercase;
    display: inline-block;
}

#header p {
    font-size: 2rem;
    color: #ed0123;
    background-color: white;
    padding: 0 15px;
    text-transform: uppercase;
    display: inline-block;
}

/* ==========================================================================
    07. Nossas Receitas 
========================================================================== */

#diferenciais i {
    font-size: 4rem;
    margin-bottom: 1rem;
    color: #ed0123;
    display: inline-block;
}

#diferenciais h3 {
    margin-bottom: 2rem;
}

/* ==========================================================================
    08. Dados 
========================================================================== */
#dados {
    color: white;
}

#dados i {
    font-size: 6rem;
}

#dados h4 {
    font-size: 3.5rem;
    margin-top: 1rem;
    margin-bottom: 0.25rem;
}

#dados p {
    font-size: 1rem;
    text-transform: uppercase;
    margin-bottom: 0;
}

/* ==========================================================================
    09. Lista de Receitas
========================================================================== */
#receitas h3 {
    color: #ed0123;
    font-size: 2.5rem;
    padding-top: 2rem;
    padding-bottom: 1rem; 
}

#receitas .carousel {
    transition: all 500ms ease;
    border: 1px solid #aaaaaa;
}

#receitas .carousel:hover {
    box-shadow: rgba(0, 0, 0, 0.15)5px 5px 30px 5px;
}

/* ==========================================================================
    09.1 Receitas Doces
========================================================================== */

#title-recipe {
    margin-top: 40px;
}

#cards-receitas .card:hover{
    box-shadow: rgba(0, 0, 0, 0.15)5px 5px 30px 5px;
}

#cards-receitas .wrapper {
    margin-bottom: 3rem;

}

/* ==========================================================================
    10. Especiais
========================================================================== */
#especiais {
    color: white;
}

#especiais .wrapper {
    margin-bottom: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

/* ==========================================================================
    11. Footer 
========================================================================== */

/* ==========================================================================
    12. Ajustes para Responsividade
========================================================================== */

@media screen and (max-width:991px){
    #header h1{
        font-size: 5rem;
    }
    #header p{
        font-size: 1.5rem;
    }
    #dados .wrapper {
        margin-bottom: 2rem;
    }
}


@media screen and (max-width: 767px){
    #header h1{
        font-size: 3.5rem;
    }
    #header p{
        font-size: 1rem;
    }
}
